/**
 * @Author: Medhat Albsugy <Medhat_Albsugy>
 * @Date:   2017-07-20T00:20:04+02:00
 * @Email:  malbsugy@lucidya.com
 * @Filename: custom.css
 * @Last modified by:   Medhat_Albsugy
 * @Last modified time: 2017-07-20T01:33:34+02:00
 */



.big_logo{
  margin-bottom: 40px;
}

.mbr-arrow a:hover{
  background: #ffffff;
  color: black;
}
/*comment total stlying*/

.comment-total{text-align: center;font-size: 1.5em;color: #fff;}
.comment-total span{font-size: 2em;color: #800000;}

.entry-footer .comments-link a{
  margin-right: 20px;
}
/*=============================================>>>>>
= Wordpress comments style =
===============================================>>>>>*/
.comments-area ol.comment-list{
  margin-left: 0;
  padding-left: 0;
}
.comments-area ol.comment-list li.comment{
}
.comments-area ol.comment-list li.comment article.comment-body{
}
.comments-area ol.comment-list li.comment article.comment-body footer.comment-meta{
  margin-top: 20px;
}
.comments-area ol.comment-list li.comment article.comment-body div.comment-content{
  padding-left: 40px;
  margin-top: 7px;
}
.comments-area ol.comment-list li.comment article.comment-body div.reply{
  padding-left: 40px;
}
.comments-area ol.comment-list li.comment article.comment-body footer.comment-meta .comment-author{
  display: inline-block;
}
.comments-area ol.comment-list li.comment article.comment-body footer.comment-meta .comment-author .fn{
  margin-left: 5px;
}
.comments-area ol.comment-list li.comment-author-admin article.comment-body footer.comment-meta .comment-author .fn{
  margin-left: 5px;
  padding: 2px 5px;
  border-radius: 3px;
  background: #5cb85c;
  color: #fff;
}
.comments-area ol.comment-list li.comment article.comment-body footer.comment-meta .comment-author .says{
  display: none;
}
.comments-area ol.comment-list li.comment article.comment-body footer.comment-meta .comment-metadata{
  margin-left: 5px;
  display: inline-block;
}
.comments-area ol.comment-list li.comment article.comment-body footer.comment-meta .comment-metadata a{
  font-size: 14px;
}

/*=============================================>>>>>
= wordpress menu styles =
===============================================>>>>>*/
#menu-0 .navbar-toggler{
  color: #fff !important;
  margin-top: 20px;
}
#menu-0 .navbar-short .navbar-toggler{
  color: #000 !important;
}
#menu-0 .transparent .navbar-toggler.navbar-close{
  margin-top: 5px;
}
@media (max-width: 767px){
  .body-logged-in nav.navbar{
    margin-top: 42px;
  }
}

@media (min-width: 768px){
  #menu-0 .bg-color.transparent .link{
     color: #ffffff !important;
     -webkit-transition: all 0.3s ease-out !important;
             transition: all 0.3s ease-out !important;
  }
  #menu-0 .bg-color.transparent .link:hover{
    color: #0a85e0 !important;
  }
  #menu-0 .bg-color.transparent .link:focus{
    color: #0a85e0 !important;
  }
  #menu-0 .navbar-short.transparent .link:hover{
    color: #0a85e0 !important;
  }
 #menu-0 .current-menu-item .link {
  color: #0a85e0 !important;
   }
  .page_item,
  .menu-item{
    display: table-cell;
  }
  .page_item a,
  .menu-item a{
    margin: 1.667em;
    display: block;
    text-transform: uppercase;
  }
  /* Transparent Menu */
  #menu-0 .bg-color.transparent .page_item a,
  #menu-0 .bg-color.transparent .menu-item a{
    text-decoration: none;
    color: #ffffff !important;
    -webkit-transition: all 0.3s ease-out !important;
    transition: all 0.3s ease-out !important;
  }
  #menu-0 .bg-color.transparent a:hover{
    color: #0a85e0 !important;
  }
  /* Stick Menu */
  ul.nav-dropdown li.menu-item a{
    /*color: #0A85E0;*/
    text-decoration: none;
  }
}


.etl-icon{
  cursor: crosshair;
}
nav.navigation.posts-navigation{
  margin-top: 20px;
}
/*=============================================>>>>>
= Pagination css =
===============================================>>>>>*/
.pagination{
  margin-top: 80px;
}
.pagination ul{
  margin-left: 0;
  padding-left: 0;
}
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
	color: #fff;
	text-decoration:none;
}

.navigation li {
	display: inline;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
  font-weight: bold;
  font-size: 14px;
	background: transparent;
	border-radius: 3px;
  border: 2px solid #b9b9b9;
  color: #555;
	cursor: pointer;
	padding: 12px;
	padding: 0.7rem 1rem;
}

.navigation li a:hover,
.navigation li.active a {
	background-color: #0A85E0;
  border: 2px solid #0A85E0;
  color: #fff;
}

/*=============================================>>>>>
= Portfolio Pagination =
===============================================>>>>>*/
.prev-posts-link {
    display: inline-block;
    float: left;
}
.next-posts-link {
    display: inline-block;
    float: right;
}
/*=============================================>>>>>
= Products home page titles =
===============================================>>>>>*/
.card-title a{
  color: #000;
  text-decoration: none;
}
.card-title a:hover{
  color: #0A85E0;
}
/*=============================================>>>>>
= Contact Form 7 CSS =
===============================================>>>>>*/
.wpcf7-form{}
.wpcf7-form p{
  display: inline-block;
  width: 31.5%;
  margin-right: 2%;
  vertical-align: top;
}
.wpcf7-form p:nth-child(4){
  margin-right: 0;
}
.wpcf7-form p:nth-child(5){
  display: block;
  margin-right: 0;
  width: 100%;
}
.wpcf7-form p:nth-child(6){
  display: block;
  margin-right: 0;
  width: 150px;
  margin-top: 30px;
  font-weight: bold;
}
.wpcf7-form p label{
  display: block;
}
.form-control{
  transition: all .3s ease-out;
}
@media (max-width: 767px){
.wpcf7-form p {
  display:block;
  width: 100%;
  vertical-align: top;
 }
 .wpcf7-form p:nth-child(6){
   display: block;
   margin-right: 0;
   width: 100%;
 }
}
/*=============================================>>>>>
= Changelog custom css =
===============================================>>>>>*/

.changelog_date p{
  display: inline-block;
}
.changelog_help{
  margin-bottom: 40px;
}

/*=============================================>>>>>
= Portfolio Hovered image css =
===============================================>>>>>*/
.project_img:hover.project_second_img{
  opacity: 1;
}
.project_img{
  width: 100%;

}
.project_second_img{
  position: absolute;
  top: 0;
  left: 15px;
  opacity: 0;
  transition: all .4s ease-out;
  padding-right: 30px;
}
@media (max-width: 767px){
  /*.project_second_img{
    left: 42px;
  }*/
}
.work .project .project_title{
  margin-top: 30px;
}
/*=============================================>>>>>
= some customizations =
===============================================>>>>>*/
.portfolio-btn{
  background: #ffffff;
  color: #535353;
  border: 1px solid #ffffff;
}
.portfolio-btn:hover{
  background: transparent;
  color: #ffffff;
}
.btn-black{
  background-color: #535353;
    border-color: #535353;
    box-shadow: none;
    color: #fff;
}
.btn-social{
  border-color:#fff !important;
  margin-right: 20px;
}
.btn-social:hover{
  border-color:#fff !important;
  background-color: #fff !important;
  color: #555 !important;
}
/*=============================================>>>>>
= Portfolio Section =
===============================================>>>>>*/
.work .project{
  background: #fff;
    padding: 40px 60px 40px 60px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.1);
}
.mbr-section-title{
  text-transform: uppercase;
  letter-spacing: 2px;
}

.albsugy_name{
  text-transform: none;
}

@media (min-width: 768px){
  #menu-0 .navbar-short .current-menu-item.notsee a.link{
    color: #000000 !important;
  }
}

.portfolio-icon{
  vertical-align: bottom;
  margin-right: 10px;
}
.portfolio-icon i{padding: 14px}
.portfolio-icon span{
  font-weight: bold;
  padding: 10px;
  display: inline-block;
}
.portfolio-icon svg{
  margin: 14px;
  width: 17px;
}
#envato path{
  fill: #fff;
}
.portfolio-icon:hover #envato path{
  fill: #000;
}
p.lead.subtitle{
  margin-bottom: 1.5rem;
}
